#s-e3480c4d-d62a-4501-9eaa-33f66cc27fbe #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3480c4d-d62a-4501-9eaa-33f66cc27fbe #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3480c4d-d62a-4501-9eaa-33f66cc27fbe > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}