#s-e3480c4d-d62a-4501-9eaa-33f66cc27fbe > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-e3480c4d-d62a-4501-9eaa-33f66cc27fbe > #alignmentBox {
  position: relative;
  max-width: 1920px;
  max-height: 1080px;
}
#s-e3480c4d-d62a-4501-9eaa-33f66cc27fbe #s-Input_2 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-e3480c4d-d62a-4501-9eaa-33f66cc27fbe #s-Input_2 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-e3480c4d-d62a-4501-9eaa-33f66cc27fbe #s-Input_2 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-e3480c4d-d62a-4501-9eaa-33f66cc27fbe #s-Input_2 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-e3480c4d-d62a-4501-9eaa-33f66cc27fbe #s-Input_2 {
  position: absolute;
  width: 214px;
  height: 29px;
  text-shadow: none;
  cursor: text;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-e3480c4d-d62a-4501-9eaa-33f66cc27fbe #s-Input_2 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-e3480c4d-d62a-4501-9eaa-33f66cc27fbe #s-Input_2 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-e3480c4d-d62a-4501-9eaa-33f66cc27fbe #s-Input_2 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
}
#s-e3480c4d-d62a-4501-9eaa-33f66cc27fbe #s-Input_2 > .paddingLayer {
  height: 27px;
  width: 207px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 6px;
  padding-right: 1px;
}
#s-e3480c4d-d62a-4501-9eaa-33f66cc27fbe #s-Input_1 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-e3480c4d-d62a-4501-9eaa-33f66cc27fbe #s-Input_1 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-e3480c4d-d62a-4501-9eaa-33f66cc27fbe #s-Input_1 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-e3480c4d-d62a-4501-9eaa-33f66cc27fbe #s-Input_1 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-e3480c4d-d62a-4501-9eaa-33f66cc27fbe #s-Input_1 {
  position: absolute;
  width: 214px;
  height: 29px;
  text-shadow: none;
  cursor: text;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-e3480c4d-d62a-4501-9eaa-33f66cc27fbe #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-e3480c4d-d62a-4501-9eaa-33f66cc27fbe #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-e3480c4d-d62a-4501-9eaa-33f66cc27fbe #s-Input_1 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
}
#s-e3480c4d-d62a-4501-9eaa-33f66cc27fbe #s-Input_1 > .paddingLayer {
  height: 27px;
  width: 207px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 6px;
  padding-right: 1px;
}
#s-e3480c4d-d62a-4501-9eaa-33f66cc27fbe #s-Button_1 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: transparent;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  box-shadow: none;
}
#s-e3480c4d-d62a-4501-9eaa-33f66cc27fbe #s-Button_1 {
  position: absolute;
  width: 68px;
  height: 29px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-e3480c4d-d62a-4501-9eaa-33f66cc27fbe #s-Button_1 > .clipping, #s-e3480c4d-d62a-4501-9eaa-33f66cc27fbe #s-Button_1 > .paddingLayer {
  height: 27px;
  width: 66px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-e3480c4d-d62a-4501-9eaa-33f66cc27fbe #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e3480c4d-d62a-4501-9eaa-33f66cc27fbe #s-Button_1 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e3480c4d-d62a-4501-9eaa-33f66cc27fbe #s-Button_1 span#rtr-s-Button_1_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e3480c4d-d62a-4501-9eaa-33f66cc27fbe #s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-e3480c4d-d62a-4501-9eaa-33f66cc27fbe #s-Text_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-e3480c4d-d62a-4501-9eaa-33f66cc27fbe #s-Text_1 > .clipping, #s-e3480c4d-d62a-4501-9eaa-33f66cc27fbe #s-Text_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-e3480c4d-d62a-4501-9eaa-33f66cc27fbe #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e3480c4d-d62a-4501-9eaa-33f66cc27fbe #s-Text_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e3480c4d-d62a-4501-9eaa-33f66cc27fbe #s-Text_1 span#rtr-s-Text_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e3480c4d-d62a-4501-9eaa-33f66cc27fbe > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}